.carteira-box-receita{
    display: flex;
    flex-direction: column;
    width: auto;
}

.carteira-box-receita .carteira-receita{
    background-color: #fff;
    color: #6D7073;
    max-height: 0;
    width: 102%;
    opacity: 0;
    box-shadow: -3px -3px 3px  rgba($color: #000000, $alpha: .5), 3px 3px 3px rgba($color: #000000, $alpha: .5);

    transition: all .4s;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    z-index: 1001;
    bottom: 125px;
    left: -4px;

    order: 1;
}

.selected-carteira-receita{
    background-color: #FFF;
    border-bottom: 1px solid #b5b5b5;
    color: #000000;
    margin-top: 10px;
    position: relative;

    order: 2;

    &:hover{
        border-bottom: 1px solid #4CAF50;
    }

    i{
        position: relative;
        font-size: 14px;
        left: 0px;
        top: 17px !important;
    }
}

.selected-carteira-receita::after{
    content: '';
    background: url('../img/arrow-down.png');
    background-size: 18px;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 18px;

    transition: all 0.4s;
}

.carteira-box-receita .carteira-receita.active-carteira-receita{
    max-height: 150px;
    opacity: 1;
    // overflow-y: scroll;
}

.carteira-box-receita .carteira-receita.active-carteira-receita + .selected-carteira-receita::after{
    transform: rotateX(180deg);
    top: -18px;
}

// .carteira-box .carteira::-webkit-scrollbar{
//     width: 8px;
//     background-color: #0d141f;
//     border-radius: 0 25px 25px 0;
// }

// .carteira-box .carteira::-webkit-scrollbar-thumb{
//     background-color: #525861;
//     border-radius: 0 25px 25px 0;
// }

.selected-carteira-receita{
    padding: 12px 24px;
    cursor: pointer;
}

.carteira-box-receita .forma-receita{
    border-radius: 15px;

    &:hover{
        background-color: #b7b7b7;
    }
}

.carteira-box-receita label{
    cursor: pointer;
    padding: 12px 24px;
    width: 100%;
}

.carteira-box-receita .carteira-receita .forma-receita .radio{
    display: none;
}